.modal-backdrop{
    z-index: 999;
}

.nowrap{
    white-space: nowrap;
}

html {
    scroll-behavior: smooth;
}

.address-section iframe{
    width:100%;
}

.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}

.c-fff{
    color: #fff;
}

.times-area p {
    /* color: #000; */
    font-weight: 400;
    font-size: 1.2em;
    padding-top: 15px;
}

.logo-img{
    visibility: hidden;
}

.main-header-area.sticky .logo-img{
    visibility: visible;
}

.header-area .main-header-area .logo-img a:hover {
    color: #0181F5;
}

.grecaptcha-badge { 
    visibility: hidden;
}

.captcha-info{
    /* color: #aaa */
    opacity: .6;
}

.captcha-info a {
    color: #0181F5;
}

.button{
    cursor: pointer;
}

.photo-avatar{
    height: 60vh;
    max-height: 500px;
    object-fit: cover;
    object-position: top;
}

.hover_overlay{
    background-color: #ed2b6d88 !important;
}

.about-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    padding-bottom: 6rem;
}
.about-table>div{
    padding-bottom: .5rem;
}
.about-table>div:nth-child(odd){
    font-weight: 600;
}


.about-popup .section-title{
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 1rem;
}