.modal-backdrop{
    z-index: 999;
}

.nowrap{
    white-space: nowrap;
}

html {
    scroll-behavior: smooth;
}

.address-section iframe{
    width:100%;
}

.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}

.c-fff{
    color: #fff;
}

.times-area p {
    /* color: #000; */
    font-weight: 400;
    font-size: 1.2em;
    padding-top: 15px;
}

.logo-img{
    visibility: hidden;
}

.main-header-area.sticky .logo-img{
    visibility: visible;
}

.header-area .main-header-area .logo-img a:hover {
    color: #0181F5;
}